@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
  background-color: rgb(56, 243, 243);
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
}

.App {
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App h1 {
  margin-top: 130px;
  font-size: 50px;
  background-color: transparent;
  color: rgb(255, 93, 34);
  text-align: center;
  justify-content: center;
}

.todo-list {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
